---
layout: default
title: Partners
type: main
slug: partners
permalink: /partners/
menus:
  main-nav:
    weight: 4
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>



<div class="consortium-group">
  <h2 class="consortium-group-title">Lead Beneficiary</h2>
  {% for item in site.participants %}
  {% if item.position == 'leader' %}
  <a href="{{ item.hyperlink }}" class="participant-item" target="_blank">
    <div class="part-logo">
      <div class="aspect-container">
        <div class="frame">
          <div class="centered">
            <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }} logo">
          </div>
        </div>
      </div>
    </div>
    <h3><span>{{ item.title }}</span></h3>
  </a>
  {% endif %}
  {% endfor %}
</div>

<div class="consortium-group">
  <h2 class="consortium-group-title">Partners</h2>
  {% for item in site.participants %}
  {% if item.position == 'member' %}
  <a href="{{ item.hyperlink }}" class="participant-item" target="_blank">
    <div class="part-logo">
      <div class="aspect-container">
        <div class="frame">
          <div class="centered">
            <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }} logo">
          </div>
        </div>
      </div>
    </div>
    <h3><span>{{ item.title }}</span></h3>
  </a>
  {% endif %}
  {% endfor %}
  
  <div class="project-budget">
    <img src={{ "/assets/images/svg/budget_2020_06_09.svg" | prepend: site.baseurl }} alt="project budget">
  </div>
</div>
