---
layout: default
title: Contact Us
type: main
slug: contact
permalink: /contact/
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="contact-list">
  <div>Contact with the consortium</div>
  <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
</div>