---
layout: info_page
title: Phygital Newsletter
type: main
slug: newsletter
permalink: /newsletter/
menus:
  press:
    weight: 3
---

<div class='description'>If you would like to receive news and events from Phygital, please subscribe to the <a href="https://newsletters.ellak.gr/?p=subscribe&amp;id=2">Phygital Newsletter</a>.</div>


<h3>Newsletter archive</h3>


<div class="press-frame">
	<a href='{{ "/assets/files/newsletters/2019-11-22-newsletter.pdf" | prepend: site.baseurl }}'>
	  Newsletter 1</a> <span class="post-meta">(22-11-2019)</span>
	<p class="post-excerpt"></p>
</div>


