body{
  overflow-x: hidden;
  overflow-y: auto;
  @include my_transition(all);

  &.menu-open{
    overflow: hidden;
    @include my_translate(-300px, 0px);
    position: absolute;
    top: 0;
    left: 0;

    .site-header{
      .header-wrapper{
        .site-nav{

          ul.main-nav{
            // @include my_translateX(0);
          }
        }
      }
    }
  }


  .site-header{
    background-color: $white;
    height: $header-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    @include my_transition(all);

    // rule tree for collapsed menu
    &.collapsed{
      background-color: $header-color-collapsed;
      height: $header-height-collapsed;
      
      .header-wrapper{

        .site-nav{
          height: $header-height-collapsed;
          line-height: $header-height-collapsed;
          
          ul.main-nav{
            height: $header-height-collapsed;
            line-height: $header-height-collapsed;

            @media screen and (max-width: 800px){
            }

            li.menu-item{
              
              & > a{
                color: $white;
                font-size: calc(.8 * #{$header-font-size});
                
                &:hover:after{
                  border-color: $white;
                }
              }
            }
          }

          a#burger{
            div{
              border-color: $white;
              
              &:before, &:after{
                border-color: $white;
              }
            }
          }
        }
      }
    }
    
    .header-wrapper{
      height: 100%;
      // rest of .wrapper is set on _base.scss
      position: relative;
      
      a.site-title{
        height: 100%;
        margin-left: 10px;
        
        img{
          height: 100%;
          max-height: 100%;
          // width: 150px;
          // max-width: 150px;
          transition: width .2s ease-in-out;
          -webkit-transition: width .2s ease-in-out;
          -moz-transition: width .2s ease-in-out;
          -o-transition: width .2s ease-in-out;
          
          @media screen and (max-width: 580px){
            width: 180px;
            max-width: 180px;
            height: auto;
            vertical-align: middle;
          }
        }
      }
      
      .flag { width: 30px; }
      
      .site-nav{
        height: $header-height;
        line-height: $header-height;
        position: relative;

        @media screen and (max-width: 600px){
          z-index: 10;
        }
        
        a#burger{
          display: none;
          position: absolute;
          top: 50%;
          @include my_translateY(-50%);
          right: 0;
          margin-right: 2em;
          height: 28px;
          @include my_transition(all);
          
          @media screen and (max-width: 800px){
            display: block;
          }
          
          &.burger-open{
            // position: fixed;
            top: 50%;
            @include my_translateY(-50%);
            right: -300px;
            z-index: 4;
            
            div{
              border-color: transparent;
              
              &:before{
                // border-color: fuchsia;
                transform: rotate(45deg);
                transform-origin: 40px -4px;
              }
              
              &:after{
                // border-color: maroon;
                transform: rotate(-45deg);
                transform-origin: -4px -10px;
              }
            }
          }
          
          div{
            @media screen and (max-width: 800px){
              // height: 100px;
              width: 50px;
              border-bottom: 4px solid $menu-font-color;
              // position: absolute;
              // top: 50%;
              // left: 0;
              // @include my_translateY(-50%);
              // @include my_translateX(-50%);
              // padding: 12px 0;
              
              &:before, &:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $menu-font-color;
                @include my_transition(all);
              }
              
              &:before{
                top: 12px;
              }
              
              &:after{
                top: 24px;
              }
            }
          }
        }
        
        ul.main-nav{
          vertical-align: 45%;
          margin-bottom: 0;
          margin-right: 20px;
          float: right;
          height: calc(0.8 * #{$header-height});
          line-height: calc(0.8 * #{$header-height});
          @include my_transition(all);

          @media screen and (max-width: 800px){
            position: absolute;
            top: 0;
            right: 0;
            @include my_translateX(300px);
            @include my_transition(all);
            width: 300px;
            margin: 0;
            height: 100vh;
            padding-left: 30px;
            box-sizing: border-box;
            padding-top: 80px;
          }

          @media screen and (max-width: 600px){
            margin-left: 0;
          }
          
          li.menu-item{
            display: inline-block;
            display: inline;
            position: relative;
            padding: 0 12px;
            
            @media screen and (max-width: 800px){
              display: block;
              text-align: left;
              line-height: 44px;
            }
            
            &:hover{

              & > a:after{
                border-bottom-color: $menu-font-color;
              }
              
              ul.sub-menu{
                z-index: 10;
                height: auto;
                opacity: 1;

                @media screen and (min-width: 800px){
                  display: inline-block;
                }
              }
            }

            a{
              font-family: $main-font;
              font-size: $header-font-size;
              color: $menu-font-color;
              position: relative;
              @include my_transition(all);
              
              &:after{
                @include my_transition(all);
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: transparent;
                border-bottom: 2px solid transparent;
                @include my_transition_v2(border-bottom-color, .2s);
              }


            }
            
            ul.sub-menu{
              height: 0;
              opacity: 0;
              margin: 0;
              padding: 5px 0;
              padding-left: 7px;
              margin-right: 16px;
              position: absolute;           
              top: calc(100% + 8px);
              right: 0;
              overflow: hidden;
              min-width: 150px;
              background-color: rgba(163, 163, 163, .4);
              // border: 1px solid #003399;
              line-height: 18px;
              margin-left: 0;
              @include my_transition(opacity);
              
              @media screen and (max-width: 800px){
                position: relative;
                display: block;
                height: auto;
                opacity: 1;
                background-color: #f3f3f3;
                border: none;
                margin-left: 10px;
              }
              
              li{
                display: inline-block;
                padding: 7px 0;
                line-height: auto;
                
                @media screen and (max-width: 800px){
                  line-height: 28px;  
                }
                
                &:hover a{
                  color: #00a4be;
                }
                
                a{
                  display: block;
                  line-height: 1.2em;
                  color: #5b5b5b;
                  font-size: 22px;
                  padding-bottom: 14px;

                  &:last-child{
                    padding-bottom: 0; 
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}