body.home{
	// .parallax-mirror{
		// left: 130% !important;

		// img{
			
		// }
	// }

	z-index: 1;
	.page-content{

		.wrapper{
			padding-top: 0;
			min-width: initial;
			max-width: initial;

			.home{
				position: relative;
				width: 100%;

				.landing-slider{

					width: 100%;
					height: calc(100vh -  100px);
					max-height: calc(100vh -  100px);
					position: relative;

					@media screen and (max-height: 768px){
						max-height: 600px;
					}
					
					@media screen and (min-height: 769px) and (max-height: 1080px){
						max-height: 800px;
					}
					
					@media screen and (min-height: 1081px){
						max-height: 100px;
					}

					#hero-content{
						display: inline-block;
						position: absolute;
						top: 12%;
						left: 50%;
						@include my_translateX(-50%);
						width: 68%;
						max-width: 880px;
						min-width: 300px;

						#main-logo{
							img{
								width: 100%;
							}
						}

						#hero-text{
							margin-top: 2em;

							div{
								font-family: $main_font;
								width: 100%;
								text-align: center;
								font-size: 50px;
								letter-spacing: .015em;
								line-height: 1.25em;
								color: $hero-black;

								@media screen and (max-width: 770px){
									font-size: 40px;
								}
							}
						}
					}

					.carousel-cell{
						width: 100%;
						height: 100%;
						background-repeat: none;
						background-size: cover;
						background-position: center;

						&:after{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: rgba(255, 255, 255, .65);
						}
						
						@supports (background-blend-mode: overlay){
							background-color: #fff9;
							background-blend-mode: overlay;

							&:after{
								content: '';
								display: none;
							}
						}

					}
					
					.site-identity{
						color: white;
						padding: 20px;
						position: absolute;
						bottom: 0;
						width: 100%;
						text-shadow: .5px black;
						box-sizing: border-box;
						background-color: rgba(0, 0, 0, .3);
						display: inline-block;

						&:hover{
							text-decoration: none;
						}

						h1, h2{
							color: white;
							position: relative;
						}
					}
				}
			
				#infoz{
					background-color: $menu_font_color;
					display: block;
					width: 100%;
					position: relative;	
					padding: 3em 0 5em;

					#infoz-wrapper{
						width: 100%;
						max-width: 800px;
						margin: auto;
						position: relative;
						padding-left: 2em;
						padding-bottom: 2em;
						min-height: 28vh;

						@media screen and (max-width: 770px){
							width: 80vw;
							min-width: 290px;
						}

						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							background-image: url('../assets/images/svg/infoz-side.svg');
							height: 100%;
							width: 10px;
							display: block;
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;

							@media screen and (max-width: 770px){
								background-size: contain;
							}
						}
						
						.info{
							font-family: $sec_font;
							font-size: 35px;
							line-height: 1em;
							color: $white;
							letter-spacing: .005em;
							margin-bottom: .4em;
							
							&:first-child{
								padding-top: .5em;
							}
							
							&:last-child{
								margin-bottom: 0;
							}

							@media screen and (max-width: 770px){
								font-size: 28px;
							}
						}
					}
				}
				
				#partners{
					background-color: #e5f1f1;
					// background-image: url('../assets/images/svg/phygi-atom.svg');
					background-position: 140% 30%;
					background-repeat: no-repeat;
					color: #3b6f80;
					font-size: 50px;
					padding-top: 1.2em;
					z-index: 1;
					display: block;
					position: relative;
					overflow: hidden;
					
					#partners-wrapper{
						z-index: 1;
						display: block;
						@include my_translateX(0);
						max-width: 75%;
						width: 100%;
						margin: auto;
						
						h1{
							font-family: $main_font;
							font-size: 50px;
							line-height: 1.25em;
							text-align: center;
						}
						
						h2{
							font-family: $main_font;
							font-size: 25px;
							line-height: 1.25em;
							letter-spacing: .015em;
							text-align: center;
							font-weight: bold;
							margin-top: 1.4em;
						}
						
						.participant-item#lead-beneficiary{
							width: 30vw;
							max-width: 350px;
							min-width: 170px;
							margin: auto;
							margin-top: .6em;
							display: block;
							
							.part-logo{
								width: 100%;
								max-width: initial;

								.aspect-container{
									padding-top: 50%;
								}
							}
						}
						
						.consortium-group{
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
						}
						
						.participant-item{
							flex-basis: 50%;
							width: 100%;
							max-width: 350px;
							// min-width: 170px;
							margin: auto;
							margin-top: .6em;
							display: block;
							position: relative;
							
							&:hover{
								img:after{
									background-color: black;
								}
							}
							
							.part-logo{
								position: relative;
								width: 3em;
								max-width: 180px;
								margin: auto;
								// position: absolute;
								// top: 50%;
								// left: 50%;
								// transform: translate(-50%, -50%);
								// -moz-transform: translate(-50%, -50%);
								// -webkit-transform: translate(-50%, -50%);
								// -o-transform: translate(-50%, -50%);
								padding: 4px;
								// border: 1px solid #efefef;
								// border-radius: 7px;
								transition: border-color .2s ease-out;
								-moz-transition: border-color .2s ease-out;
								-webkit-transition: border-color .2s ease-out;
								-o-transition: border-color .2s ease-out;
								
								@media screen and (max-width: 640px){
									position: relative;
									display: inline-block;
									transform: translateY(0);
									-moz-transform: translateY(0);
									-webkit-transform: translateY(0);
									-o-transform: translateY(0);
								}
								
								.aspect-container{
									position: relative;
									width: 100%;
									display: block;
									content: '';
									padding-top: 90%;
									
									.frame{
										position: absolute;
										top: 0;
										right: 0;
										bottom: 0;
										left: 0;
										overflow: hidden;
										
										&:after{
											// z-index: 3;
											// @include my_translateX(0);
											content: "";
											display: block;
											position: absolute;
											top: 0;
											left: 0;
											bottom: 0;
											right: 0;
											opacity: 0;
											background-color: $menu_font_color;
											background-color: transparent;
											mix-blend-mode: lighten;
										}
										
										&:hover{
											
											&:after{
												opacity: 1;
											}
										}
										
										.centered{
											height: 100%;
											width: 100%;
											position: absolute;
											top: 0;
											left: 0;
											transform: translate(50%, 50%);
											-moz-transform: translate(50%, 50%);
											-webkit-transform: translate(50%, 50%);
											-o-transform: translate(50%, 50%);
											
											img{
												position: absolute;
												top: 0;
												left: 0;
												max-height: 100%;
												transform: translate(-50%, -50%);
												-moz-transform: translate(-50%, -50%);
												-webkit-transform: translate(-50%, -50%);
												-o-transform: translate(-50%, -50%);
											}
										}
									}
								}
							}
							
							&.grid-column-start{
								// grid-column-start: auto;
							}
						}
					}
					
					.phygi-atom{
						background-color: transparent;
						// background-image: url('../assets/images/svg/phygi-atom.svg');
						// background-position: right -20% top 0%;
						// background-repeat: no-repeat;
						width: 100%;
						height: 100%;
						z-index: 0;
						position: absolute;
						top: 0;
						left: 0;
						
						img{
							z-index: 0;
							position: absolute;
							top: 0;
							right: 0;
							// left: 0;
							@include my_translate(37%, -50%);
						}
					}
				}

				#budget{
					font-size: 18px;
					z-index: 4;
					@include my_translateX(0);
					background-image: url('../assets/images/svg/budget-bg.png');
					background-position: left -30% bottom -20%;
					background-size: 45vw;
					background-repeat: no-repeat;
					
					@media screen and (max-width: 420px){
						background-position: left -20% bottom 130%;
						background-size: 50vw;
					}
					
					@media screen and (min-width: 1300px){
						background-position: left -20% bottom 130%;
						background-size: 30vw;
					}

					#budget-wrapper{
						font-size: 20px;
						display: block;
						max-width: 75%;
						width: 100%;
						margin: auto;
						text-align: center;
						padding: 4em 0 4.5em;
						
						#funding-info{
							font-family: Montserrat;
							font-size: 18px;
							color: #203c88ff;
							margin: auto;
							margin-top: 1em;
							width: 100%;
							max-width: 500px;
							letter-spacing: -.04em;
						}
					}
				}
			}
		}
	}
}