
body.about, body.partners, body.press-kit, body.newsletter,
body.aboutal, body.partnersal, body.press-kital, body.newsletteral
{

	.page-content{

		.wrapper{
			display: block;
			margin: auto;
			max-width: 880px;
			min-width: 300px;
			// padding: 25px;
			box-sizing: content-box;
			padding-top: 1em;
			font-size: 40px;
			
			article.info-page{
				
				@media screen and (max-width: 880px){
					padding-left: .5em;
					padding-right: .5em;
				}

				header.post-header{
				
					h1.post-title{
						font-size: 50px;
						font-family: "Century Gothic", sans-serif;
						line-height: 1.25em;
						letter-spacing: .01em;
						letter-spacing: -1px;
						line-height: 1;
						float: none;
					}
				}

				.post-content{
					margin-top: .6em;
					font-family: "Century Gothic";
					font-size: 20px;
					color: $black;
					font-weight: normal;
					line-height: 1.2em;
					letter-spacing: .2px;

					p{
						margin-bottom: 2em;
						line-height: 1.5em;
					}
				}
			}
		}
	}
}
