.description{
	margin-bottom: 1em;
	font-size: 22px;
}

.press-frame{
	font-size: 16px;
	margin-bottom: .7em;

	&:hover{
		text-decoration: none; 

		a{
			background-color: #e3e3e3;
			color: $black;
		}
	}

	a{
		display: inline-block;
		position: relative;
		color: $menu-font-color;
		transition: color .2s ease-out;
		-moz-transition: color .2s ease-out;
		-webkit-transition: color .2s ease-out;
		-o-transition: color .2s ease-out;
		
		font-family: $main_font;
		font-size: 25px;
		text-align: center;
		margin-top: .4em;
		
		font-weight: normal;
		letter-spacing: -0.5px;
		line-height: 1.5em;

		@media screen and (max-width: 640px){
			position: relative;
			display: block;
			width: 100%;
			margin-left: 0;
		}

		@include my_transition(all);
	}

	code.banner-code{
		position: relative;
		margin-top: .5em;

		button.copy-banner-code{
			font-size: 12px;
			position: absolute;
			top: 0;
			right: 0;
			margin-top: .2em;
			margin-right: .2em;
		}
		
		.no-dis{
			display: none;
		}
	}
}