// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$interreg-color:   #003399;
$brand-color:      #3C7486;
$brand-color-hover:#55abc6;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/*
front_v2 variables
*/
$white: #ffffff;
$black: #000000;
$hero-black: #333333;
$header-color-collapsed: #469ba4;
$menu-font-color: #007688;
$background-color: $white;

$header-height: 100px;
$header-height-collapsed: 65px;
$html-font-size: 16px;
$header-font-size: 25px;

$main-font: 'Century Gothic';
$sec-font: 'Caviar';