---
layout: default
langUrl: /al
title: Kontakt
type: al-main
slug: contact
permalink: /al/contact/
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="contact-list">
  <div>Kontakt</div>
  <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
</div>
