---
layout: default
langUrl: /al
slug: home

hero_text_top: "Dizenjo Globalisht"
hero_text_bottom: "Prodho Lokalisht"

infoz:
  - "Nxit inovacionin dhe sipërmarrjen"
  - "Çliron potencialin e produkteve dhe modeleve të reja të biznesit"

section_partners:
  title: "Partnerët"

section_budget:
  funding_info: "Projekt i bashkëfincancuar nga Bashkimi Europian dhe Fondet për Zhvillim të vendeve pjesëmarrëse"
  budget_label: "Project budget-al"
  budget_value: "855.172,79€-al"
---

<div class="home">

  <section class="landing-slider">

      {% for image in site.static_files %}
        {% if image.path contains 'assets/images/landing_slider' %}
          <!-- <img src="{{ image.path | prepend: site.baseurl }}" alt="image" /> -->
          <div class="carousel-cell" style="background-image: url('{{ image.path | prepend: site.baseurl }}');">
            
            <!-- <img src="{{ myimage.path }}" alt=""> -->
          </div>
        {% endif %}
      {% endfor %}
    <div id="hero-content">
      <a id="main-logo">
        <img src="{{ '/assets/images/svg/landing-logo.svg' | prepend: site.baseurl }}" alt="Phygital">
      </a>
      
      <div id="hero-text">
        <div>{{ page.hero_text_top }}</div>
        <div>{{ page.hero_text_bottom }}</div>
      </div>
    </div>
    <!-- <a href="{{ "/about" | prepend: site.baseurl }}" class="site-identity">

      <h1 class="site-title">{{ site.infoz }}</h1>
      <h1 class="site-title">{{ site.title }}</h1>
      <h2 class="project-description">{{ site.description }}</h2>
      
    </a>  -->
  </section>

  <section id="infoz">
    <div id="infoz-wrapper">
      {% for info in page.infoz %}
      <div class="info">
        {{ info }}
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- <section id="partners" data-parallax="scroll" data-image-src="{{ '/assets/images/svg/phygi-atom.svg' | prepend: site.baseurl }}" data-z-index="1"> -->
  <section id="partners">
    <div class="phygi-atom rellax" data-rellax-speed="-8" data-rellax-zindex="0">
      <img src="{{ '/assets/images/svg/phygi-atom.svg' | prepend: site.baseurl }}" alt="phygi-atom">
    </div>
    <div id="partners-wrapper">
      <h1>{{ page.section_partners.title }}</h1>
      {% for item in site.participants %}
      {% if item.position == 'leader' %}
      <h2>Përfituesi kryesor</h2>
      <a href="{{ item.hyperlink }}" class="participant-item" id="lead-beneficiary" target="_blank">
        <div class="part-logo">
          <div class="aspect-container">
            <div class="frame">
              <div class="centered">
                <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }} logo">
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
      
      <h2 class="consortium-group-title">Partnerët</h2>
      <div class="consortium-group">
        
        {% for item in site.participants %}
        {% assign pointer = forloop.index | modulo: 3 %}
        {% if pointer == 2 %}
        {% assign column_start = " grid-column-start" %}
        {% else %}
        {% assign column_start = "" %}
        {% endif %}
        {% if item.position == 'member' %}
        <a href="{{ item.hyperlink }}" class="participant-item {{ column_start }}" target="_blank">
          <div class="part-logo">
            <div class="aspect-container">
              <div class="frame">
                <div class="centered">
                  <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }} logo">
                </div>
              </div>
            </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="budget">
  <div id="budget-wrapper">
    <img id="budget-svg" src="{{ '/assets/images/svg/budget.svg' | prepend: site.baseurl }}" alt="">
    <div id="funding-info">
      {{ page.section_budget.funding_info }}
    </div>
  </div>
</section>
</div>
