---
layout: info_page
langUrl: /al
title: Buletin Informativ i Phygital
type: al-main
slug: newsletter
permalink: /al/newsletter/
menus:
  alpres:
    weight: 3
---

<div class='description'>Në rast se doni të informoheni për të rejat dhe eventet nga Phygital, ju lutemi abonohuni tek <a href="https://newsletters.ellak.gr/?p=subscribe&amp;id=2">Buletini Informativ i Phygital</a>.</div>


<h3>Arkiva e Buletinit Informativ</h3>


<div class="press-frame">
	<a href='{{ "/assets/files/newsletters/2019-11-22-newsletter.pdf" | prepend: site.baseurl }}'>
	  Buletini Informativ 1</a> <span class="post-meta">(22-11-2019)</span>
	<p class="post-excerpt"></p>
</div>


